
<div class="jumbotron">
    <h1 class="display-4">About</h1>
    <p class="lead">This application provides the product inventory information.</p>
    <div class="icon">
        <i class="fa fa-tags fa-3x"></i>
    </div>
    <hr class="my-4">
    <p>The application contains the product details which can be edited, deleted through admin privileges. The product details can be viewed after logging with the correct registered credentials. The products that are viewed can be seen through the chart.</p>
        
</div>