<div>
    <h2>{{title}}</h2>
    <label>Search filter: </label>
    <input type='text' [(ngModel)]='nameFilter'/> 
    <table>
        <thead>
            <td>Name</td>
            <td>Description</td>
            <td>Manufacturer</td>
            <td>Price</td>
            <td>Quantity</td>
        </thead>
        <tr *ngFor='let employee of products | searchFilter: nameFilter'>
            <td><a [routerLink]="employee.id">
                {{employee.name}}</a>
            </td>
            <td>
                {{employee.description}}
            </td>
            <td>
                {{employee.manufacturer}}
            </td>
            <td>
                {{employee.price}}
            </td>
            <td>
                {{employee.quantity}}
            </td>
            <!-- <td><button [routerLink]='editEmployee(employee.id)'>Edit</button></td> -->
            <td><button [routerLink]="[employee.id,'edit']">Edit</button></td>
            <td><button (click)='deleteEmployee(employee.id)'>Delete</button></td>
        </tr>
    </table>        
    <button routerLink="add">Add Product</button>
</div>    
