h2{
  color: darkslateblue;
  
}

.card:hover{
  background-color: rgb(174, 236, 174);
  width: 40rem;
  border-color: teal;
  font-size: 1.5rem;
}

label{
  font-weight: bold;
  color: royalblue;
  margin: 0.3rem;
}

