<div>
    <button class="btn btn-primary" style="text-align:center;" *ngIf="showChart" (click)="toggleChart()">Hide Chart</button>
    <button class="btn btn-info" style="text-align:center;" *ngIf="!showChart" (click)="toggleChart()">Show Chart</button>
    <div *ngIf="showChart">
      <!-- <p>{{list[0]}}</p>
      <p>{{list[1]}}</p> -->
      <div class="chart" *ngIf="pieChartLabels.length">
        <!-- {{pieChartData.length}} -->
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [colors]="pieChartColors"
          [options]="pieChartOptions"
          [legend]="pieChartLegend">
        </canvas>
      </div>
      <div *ngIf="!pieChartLabels.length"><h2>No product viewed yet!</h2></div>
      <!-- <button (click)="change()">Change pie chart</button> -->
    </div>
</div>