<nav>
    <a style="padding-right:20px" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >About</a>

    <a style="padding-right:20px" routerLink="products" routerLinkActive="active">Products</a>

    <!-- <a routerLink="customers" routerLinkActive="active">Customers</a> -->

    <a *ngIf=!isLoggedIn() style="float:right" routerLink="login" routerLinkActive="active">Login</a>
    <a *ngIf=!isLoggedIn() style="float:right;padding-right:20px" routerLink="register" routerLinkActive="active">Register</a> 
    <a *ngIf=isLoggedIn() style="float:right" routerLink="logout" routerLinkActive="active" (click)="changeToLoginRoute()">Logout</a>
   <a *ngIf=isLoggedIn() style="float:right;padding-right:20px" routerLink="profile" routerLinkActive="active">Profile</a>
</nav>
<div class="lds-spinner" *ngIf="isLoading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
<router-outlet></router-outlet>
<app-pie-chart *ngIf=isLoggedIn()></app-pie-chart>


