h2{
    color: mediumorchid;
    
}

.card:hover{
    background-color: lightyellow;
    width: 40rem;
    border-color: teal;
    font-size: 1.5rem;
}

label{
    font-weight: bold;
    color: royalblue;
    margin: 0.3rem;
}


